= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :database
    = instance_field :keystone
    = instance_field :rabbitmq
    = instance_field :ceilometer

    = integer_field :evaluation_interval
    = integer_field :alarm_history_ttl

    %fieldset
      %legend
        = t(".ssl_header")

      = select_field %w(api protocol),
        :collection => :api_protocols_for_aodh,
        "data-sslprefix" => "ssl",
        "data-sslcert" => "/etc/aodh/ssl/certs/signing_cert.pem",
        "data-sslkey" => "/etc/aodh/ssl/private/signing_key.pem"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required),
          "data-enabler" => "true",
          "data-enabler-target" => "#ssl_ca_certs"
        = string_field %w(ssl ca_certs)
