= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :database
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :glance

    %script#backend_entries{ :type => "text/x-handlebars-template" }
      %div#manila_backends
        {{#each entries}}
        %ul.list-group(id="share-entry-{{@index}}")
          %li.list-group-item.active
            %h3.list-group-item-heading
              Backend: {{ backend_name }}
              {{#if ../is_only_backend }}
              {{else}}
              = link_to icon_tag("trash"), "#", :class => "share-backend-delete pull-right delete", "data-shareid" => "{{@index}}"
              {{/if}}
          {{#if_eq backend_driver 'generic'}}
          %li.list-group-item
            %fieldset
              %legend
                = t('.shares.generic_parameters')

              = string_field %w(shares {{@index}} generic service_instance_user)
              = password_field %w(shares {{@index}} generic service_instance_password)
              = string_field %w(shares {{@index}} generic service_image_name)
              = boolean_field %w(shares {{@index}} generic driver_handles_share_servers)

          {{/if_eq}}
          {{#if_eq backend_driver 'netapp'}}
          %li.list-group-item
            %fieldset
              %legend
                = t('.shares.netapp_parameters')

              = string_field %w(shares {{@index}} netapp netapp_vserver)
              = string_field %w(shares {{@index}} netapp netapp_server_hostname)
              = integer_field %w(shares {{@index}} netapp netapp_server_port)
              = string_field %w(shares {{@index}} netapp netapp_login)
              = password_field %w(shares {{@index}} netapp netapp_password)
              = select_field %w(shares {{@index}} netapp netapp_transport_type), :collection => :netapp_transports_for_manila
          {{/if_eq}}
          {{#if_eq backend_driver 'manual'}}
          %li.list-group-item
            %fieldset
            %legend
              = t(".shares.manual_parameters")

            .alert.alert-warning
              = t(".shares.manual.not_supported")

            = string_field %w(shares {{@index}} manual driver)
            %span.help-block
              = t(".shares.manual.driver_hint")

            = text_field %w(shares {{@index}} manual config), :size => "80x5"
            %span.help-block
              = t(".shares.manual.config_hint")
          {{/if_eq}}
        {{/each}}

    %fieldset
      %legend
        = t(".shares.listheader")

      %div#manila_backends
        = t(".shares.loading_text")

      %fieldset
        %legend
          = t(".shares.addheader")

        = select_field %w(shares backend_driver), :collection => :share_driver_for_manila
        = string_field %w(shares backend_name)

        %div.form-group.pull-left
          %input(id='add_manila_backend' class="form-control" type="button" value="Add Backend")
