= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :database
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :glance

    %script#backend_entries{ :type => "text/x-handlebars-template" }
      %div#manila_backends
        {{#each entries}}
        %ul.list-group(id="share-entry-{{@index}}")
          %li.list-group-item.active
            %h3.list-group-item-heading
              Backend: {{ backend_name }}
              {{#if ../is_only_backend }}
              {{else}}
              = link_to icon_tag("trash"), "#", :class => "share-backend-delete pull-right delete", "data-shareid" => "{{@index}}"
              {{/if}}
          {{#if_eq backend_driver 'generic'}}
          %li.list-group-item
            %fieldset
              %legend
                = t('.shares.generic_parameters')

              .alert.alert-warning
                = t(".shares.generic.not_supported")

              = string_field %w(shares {{@index}} generic service_instance_user)
              = password_field %w(shares {{@index}} generic service_instance_password)
              = string_field %w(shares {{@index}} generic service_instance_name_or_id)
              = string_field %w(shares {{@index}} generic service_net_name_or_ip)
              = string_field %w(shares {{@index}} generic tenant_net_name_or_ip)

          {{/if_eq}}
          {{#if_eq backend_driver 'netapp'}}
          %li.list-group-item
            %fieldset
              %legend
                = t('.shares.netapp_parameters')

              = string_field %w(shares {{@index}} netapp netapp_vserver)
              = string_field %w(shares {{@index}} netapp netapp_server_hostname)
              = integer_field %w(shares {{@index}} netapp netapp_server_port)
              = string_field %w(shares {{@index}} netapp netapp_login)
              = password_field %w(shares {{@index}} netapp netapp_password)
              = select_field %w(shares {{@index}} netapp netapp_transport_type), :collection => :netapp_transports_for_manila
          {{/if_eq}}
          {{#if_eq backend_driver 'hitachi'}}
          %li.list-group-item
            %fieldset
              %legend
                = t('.shares.hitachi_parameters')

              = string_field %w(shares {{@index}} hitachi hitachi_hnas_evs_id)
              = string_field %w(shares {{@index}} hitachi hitachi_hnas_evs_ip)
              = string_field %w(shares {{@index}} hitachi hitachi_hnas_file_system_name)
              = string_field %w(shares {{@index}} hitachi hitachi_hnas_ip)
              = string_field %w(shares {{@index}} hitachi hitachi_hnas_user)
              = password_field %w(shares {{@index}} hitachi hitachi_hnas_password)
              = string_field %w(shares {{@index}} hitachi hitachi_hnas_ssh_private_key)
              = integer_field %w(shares {{@index}} hitachi hitachi_hnas_stalled_job_timeout)
          {{/if_eq}}
          {{#if_eq backend_driver 'cephfs'}}
          %li.list-group-item
            %fieldset
              %legend
                = t('.shares.cephfs_parameters')

              = boolean_field %w(shares {{@index}} cephfs use_crowbar), "data-hideit" => "true", "data-hideit-target" => "#cephfs_conf_path_{{@index}}", "data-hideit-direct" => "true"
              %div{:id => "cephfs_conf_path_{{@index}}"}
                = string_field %w(shares {{@index}} cephfs cephfs_conf_path)
                = string_field %w(shares {{@index}} cephfs cephfs_cluster_name)
                = string_field %w(shares {{@index}} cephfs cephfs_auth_id)

          {{/if_eq}}
          {{#if_eq backend_driver 'manual'}}
          %li.list-group-item
            %fieldset
            %legend
              = t(".shares.manual_parameters")

            .alert.alert-warning
              = t(".shares.manual.not_supported")

            = string_field %w(shares {{@index}} manual driver)
            %span.help-block
              = t(".shares.manual.driver_hint")

            = text_field %w(shares {{@index}} manual config), :size => "80x5"
            %span.help-block
              = t(".shares.manual.config_hint")
          {{/if_eq}}
        {{/each}}

    %fieldset
      %legend
        = t(".shares.listheader")

      %div#manila_backends
        = t(".shares.loading_text")

      %fieldset
        %legend
          = t(".shares.addheader")

        = select_field %w(shares backend_driver), :collection => :share_driver_for_manila
        = string_field %w(shares backend_name)

        %div.form-group.pull-left
          %input(id='add_manila_backend' class="form-control" type="button" value="Add Backend")

    %fieldset
      %legend
        = t('.ssl_header')

      = select_field %w(api protocol),
        :collection => :api_protocols_for_manila,
        'data-sslprefix' => 'ssl',
        'data-sslcert' => '/etc/manila/ssl/certs/signing_cert.pem',
        'data-sslkey' => '/etc/manila/ssl/private/signing_key.pem'

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required),
          'data-enabler' => 'true',
          'data-enabler-target' => '#ssl_ca_certs'
        = string_field %w(ssl ca_certs)
