- register_javascripts "barclamps/trove/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    %fieldset
      %legend
        = t(".logging_header")
      = boolean_field :verbose

    = render "barclamp/git/pfsdeps"
      