- register_javascripts "barclamps/trove/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = boolean_field :volume_support
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :nova
    = instance_field :swift
    = instance_field :cinder
    %fieldset
      %legend
        = t(".logging_header")
      = boolean_field :verbose
      = boolean_field :debug

    = render "barclamp/git/pfsdeps"
      