- register_javascripts "barclamps/neutron/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :database
    = instance_field :keystone
    = instance_field :rabbitmq
    = string_field :dhcp_domain

    %fieldset
      %legend
        = t(".plugin_header")

      = select_field :networking_plugin, :collection => :networking_plugins_for_neutron

      #mode_container
        = select_field :networking_mode, :collection => :networking_modes_for_neutron

        .alert.alert-warning#warn_ovs_vlan
          = t(".warn_ovs_vlan")










    -##cisco_switches{ "data-invalid" => t(".error_empty"), "data-duplicate" => t(".error_duplicate") }
    -#  %fieldset
    -#    %legend
    -#      = t(".cisco_switches")
    -#
    -#    %table.table.table-middle
    -#      %thead
    -#        %tr
    -#          %th.col-sm-3
    -#            = t(".switch_ip")
    -#          %th.col-sm-2
    -#            = t(".switch_port")
    -#          %th.col-sm-3
    -#            = t(".switch_user")
    -#          %th.col-sm-3
    -#            = t(".switch_password")
    -#          %th.col-sm-1
    -#      %tbody
    -#
    -#      %tfoot
    -#        %tr
    -#          %th
    -#            = text_field_tag "switch_ip", "", :placeholder => t(".switch_ip"), :class => "form-control"
    -#          %th
    -#            = text_field_tag "switch_port", "", :placeholder => t(".switch_port"), :class => "form-control"
    -#          %th
    -#            = text_field_tag "switch_user", "", :placeholder => t(".switch_user"), :class => "form-control"
    -#          %th
    -#            = text_field_tag "switch_password", "", :placeholder => t(".switch_password"), :class => "form-control"
    -#          %th
    -#            = submit_tag t(".add_switch"), :class => "btn btn-default btn-block"
    -#
    -##cisco_ports
    -#  %fieldset
    -#    %legend
    -#      = t(".cisco_ports")














    %fieldset
      %legend
        = t(".ssl_header")

      = select_field %w(api protocol), :collection => :api_protocols_for_neutron, "data-sslprefix" => "ssl", "data-sslcert" => "/etc/neutron/ssl/certs/signing_cert.pem", "data-sslkey" => "/etc/neutron/ssl/private/signing_key.pem"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required), "data-enabler" => "true", "data-enabler-target" => "#ssl_ca_certs"
        = string_field %w(ssl ca_certs)

    = render "barclamp/git/pfsdeps"

%script#cisco_switch_row{ :type => "text/x-handlebars-template" }
  {{#each switches}}
  %tr
    %td
      {{ip}}
    %td
      {{port}}
    %td
      {{user}}
    %td
      {{password}}
    %td
      = link_to t(".remove_switch"), "#", "data-target" => "{{ip}}", :class => "btn btn-default"
  {{else}}
  %tr
    %td{ :colspan => 5 }
      .empty.alert.alert-info.text-center
        = t(".no_switches")
  {{/each}}
