- register_javascripts "barclamps/database/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = select_field :sql_engine, :collection => :engines_for_database

    #mysql_container
      %fieldset
        %legend
          = t('.mysql_attributes')

        = string_field %w(mysql datadir)

    #postgresql_container
      %fieldset
        %legend
          = t('.postgresql_attributes')

        = string_field %w(postgresql max_connections)
