= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = select_field :sql_engine, :collection => :engines_for_database

    #mysql_container
      %fieldset
        %legend
          = t('.mysql_attributes')

        = string_field %w(mysql datadir)

    #postgresql_container
      %fieldset
        %legend
          = t('.postgresql_attributes')

        = integer_field %w(postgresql max_connections)

      -# As HA is only supported for postgresql, we put this section in #postgresql_container
      %fieldset#ha-setup{ "data-show-for-clusters-only" => "true", "data-elements-path" => "database-server" }
        %legend
          = t('.ha_header')

        = select_field %w(ha storage mode), :collection => :ha_storage_mode_for_database, "data-showit" => ["drbd", "shared"].join(";"), "data-showit-target" => "#drbd_storage_container;#shared_storage_container", "data-showit-direct" => "true"

        #drbd_storage_container
          .alert.alert-info
            = t('.ha.storage.drbd_info')
          = integer_field %w(ha storage drbd size)

        #shared_storage_container
          = string_field %w(ha storage shared device)
          = string_field %w(ha storage shared fstype)
          = string_field %w(ha storage shared options)
