= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :nova
    = instance_field :cinder

    %fieldset
      %legend
        = t('.trustee_header')
      = boolean_field %w(trustee cluster_user_trust)
      = string_field %w(trustee domain_name)
    %fieldset
      %legend
        = t('.cert_header')
      = select_field %w(cert cert_manager_type), collection: :cert_manager_types
    %fieldset
      %legend
        = t('.logging_header')
      = boolean_field :verbose
    %fieldset
      %legend
        = t('.ssl_header')

      = select_field %w(api protocol),
        :collection => :api_protocols_for_magnum,
        'data-sslprefix' => 'ssl',
        'data-sslcert' => '/etc/magnum/ssl/certs/signing_cert.pem',
        'data-sslkey' => '/etc/magnum/ssl/private/signing_key.pem'

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required),
          'data-enabler' => 'true',
          'data-enabler-target' => '#ssl_ca_certs'
        = string_field %w(ssl ca_certs)
