= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :nova
    = instance_field :cinder

    %fieldset
      %legend
        = t('.trustee_header')
      = boolean_field %w(trustee cluster_user_trust)
      = string_field %w(trustee domain_name)
    %fieldset
      %legend
        = t('.cert_header')
      = select_field %w(cert cert_manager_type), collection: :cert_manager_types
    %fieldset
      %legend
        = t('.logging_header')
      = boolean_field :verbose
