
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :vhost }= t('.vhost')
      %input#vhost{:type => "text", :name => "vhost", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["vhost"], :onchange => "update_value('vhost','vhost', 'string')"}
    %p
      %label{ :for => :port }= t('.port')
      %input#port{:type => "text", :name => "port", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["port"], :onchange => "update_value('port', 'port', 'integer')"}
    %p
      %label{ :for => :user }= t('.user')
      %input#user{:type => "text", :name => "user", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["user"], :onchange => "update_value('user','user', 'string')"}
