= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body

    %fieldset
      %legend
        = t(".certs_header")

      = string_field %w(certs server_ca_cert_path)
      = string_field %w(certs server_ca_key_path)
      = string_field %w(certs client_ca_cert_path)
      = string_field %w(certs client_cert_and_key_path)
      = string_field %w(certs passphrase)
