= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body

    %fieldset
      %legend
        = t(".api_header")

      = integer_field %w(api port)
      = string_field %w(api host)

    %fieldset
      %legend
        = t(".certs_header")

      = string_field %w(certs country)
      = string_field %w(certs province)
      = string_field %w(certs domain)
      = string_field %w(certs passphrase)
