= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = boolean_field :verbose
    = instance_field :database
    = instance_field :keystone
    = instance_field :rabbitmq

    = render "barclamp/git/pfsdeps"
