= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :rabbitmq
    = instance_field :keystone

    = string_field :resource_email
    = string_field :resource_project
