
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :nova_instance }= t('.nova_instance')
      = instance_selector("nova", :nova_instance, "nova_instance", @proposal)
    %p
      %label{ :for => :use_virtualenv }= t('.use_virtualenv')
      = select_tag :use_virtualenv, options_for_select([['yes','true'], ['no', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["use_virtualenv"].to_s), :onchange => "update_value('use_virtualenv', 'use_virtualenv', 'boolean')"
    %p
      %label{ :for => :use_pfs }= t('.use_pfs')
      = select_tag :use_pfs, options_for_select([['yes','true'], ['no', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["use_pfs"].to_s), :onchange => "update_value('use_virtualenv', 'use_pfs', 'boolean')"
   -#%p
      -# %label{ :for => :create_alt_user }= t('.create_alt_user')
      -# = select_tag :create_alt_user, options_for_select([['yes','true'], ['no', 'false']], @proposal.raw_data['attributes'][@proposal.barclamp]["create_alt_user"].to_s), :onchange => "update_value('create_alt_user', 'create_alt_user', 'boolean')"
    %p
      %label{:for => "tempest_user"}= t('.tempest_user')
      %p
        %label{ :for => :tempest_user_username }= t('.tempest_user_username')
        %input#tempest_user_username{:type => "text", :name => "tempest_user_username", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["tempest_user_username"], :onchange => "update_value('tempest_user_username','tempest_user_username', 'string')"}
      %p
        %label{ :for => :tempest_user_password }= t('.tempest_user_password')
        %input#tempest_user_password{:type => "text", :name => "tempest_user_password", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["tempest_user_password"], :onchange => "update_value('tempest_user_password','tempest_user_password', 'string')"}
      %p
        %label{ :for => :tempest_user_tenant }= t('.tempest_user_tenant')
        %input#tempest_user_tenant{:type => "text", :name => "tempest_user_tenant", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["tempest_user_tenant"], :onchange => "update_value('tempest_user_tenant','tempest_user_tenant', 'string')"}
