%html
  %head
    %title
      Xunit Test Results - For:
      = doc.elements["testsuite"].attribute("name")
    :css
      .test-failure a.test-status {
          color: red;
      }
      .test-error a.test-status {
          color: red;
      }
      .test-passed p.test-status {
          color: green;
      }
      .test-skipped a.test-status {
          color: blue;
      }
      a.test-status {
          text-transform: capitalize;
      }
      p.test-status {
          text-transform: capitalize;
      }
      pre.test-status {
          display: none;
          white-space: pre-wrap;
      }
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js", :type => "text/javascript"}
    :javascript
      $(document).ready(function() {
          $("a.test-status").click(function() {
              $(this).next("pre").toggle();
              return false;
          });
      });
  %body
    %h3.divided
      Results for
      = doc.elements["testsuite"].attribute("name")
    .testcases
      %table{:border => "1"}
        %thead
          %tr
            %td Class
            %td Test name
            %td Running time
            %td State
        %tbody
          - last_class = ""
          - doc.elements.each('testsuite/testcase') do |test_run|
            - if not test_run.has_elements?()
              - type = "passed"
            - else
              - type = test_run.elements[1].name
            %tr{:class => "test-"+type}
              - class_name = test_run.attribute("classname").to_s()
              - if class_name == "&lt;nose.suite"
                %td
                  %p= class_name
              - elsif class_name != last_class
                - last_class = class_name
                - rowspan = doc.elements.to_a("testsuite/testcase[@classname='#{class_name}']").length
                %td{:rowspan => (rowspan != 0 && rowspan) }
                  %p= class_name
              %td
                %p= test_run.attribute("name").to_s()
              %td
                %p= test_run.attribute("time").to_s()
              %td
                - if type == "passed"
                  %p{:class => "test-status"}= type
                - else
                  %a{:class => "test-status", :href => "javascript:void(0)"}= type
                  %pre{:class => "test-status"}= test_run.elements[1].cdatas()
