- # TODO(aandreev): replace all hardcoded urls with proper url_for calls, need to investigate
%p{:style => 'float: right'}
  = "#{@test_runs.count} " + t(".n_test_runs")
%h1= t '.title'
.clear
.column_100
  %section{:class => 'box'}
    %form{:action => 'test_runs/clear', :method => :post, :style => 'float: right'}
      %input{:type=> 'submit', :class => 'button', :value => t('.clear_test_runs')}
    %form{:action => 'test_runs', :method => :post, :id => 'run_test'} 
      %span= t '.run_tests_on_node'
      %select{:name => 'node'}
        - @ready_nodes.each do |node|
          %option{ :value => node.name }= node.alias  
      %input{:type=>'submit', :class=>'button', :value => t('.run_test') }
  
= render 'barclamp/tempest/test_runs.html.haml'
