%h1= t '.title'
%p{:style => 'float:right'}
  = link_to t('.remove_all_results'), '/tempest/remove_results', :class => 'button'
  %p
    %label{ :for => :run_tests }= t('.run_tests')
  - nodes.each do |node|
    = link_to t('.run_tests_on_node') + ' ' + node, "/tempest/run_tests/#{node}", :class => 'button'
  %p
    %h3= t '.results'
    %div.container{:id => 'test_results_div'}
    %table{:border => "2"}
      %tbody
        %tr
          %th= t '.id'
          %th= t '.status'
          %th= t '.started_at'
          %th= t '.ended_at'
        - results.each do |result|
          %tr
            %td
              = link_to result["uuid"][0, 7], "/tempest/download/#{result["uuid"]}", :title => t('.download_xml_report')
              = link_to image_tag('/images/icons/delete.png'), "/tempest/remove_result/#{result["uuid"]}", :title => t('.remove_hint')
            - statuses = { 'running' => '/images/icons/led/yellow.png', 'passed' => '/images/icons/led/green.png', 'failed' => '/images/icons/led/red.png' }
            %td 
              = image_tag statuses[result["status"]], :alt => t(".statuses.#{result["status"]}") 
              = t(".statuses.#{result["status"]}")
            %td= result["started"]
            %td= result["ended"]

:javascript

  var RESULTS_URL = "/tempest/get_results";

  var statuses = {
                   'running': '/images/icons/led/yellow.png', 
                   'passed': '/images/icons/led/green.png',
                   'failed': '/images/icons/led/red.png'
                 };

  var status_msg = {
                     'running': '#{t(".statuses.running")}',
                     'passed': '#{t(".statuses.passed")}',
                     'failed': '#{t(".statuses.failed")}'
                   };

  function update_results(data){
    $("table tr:first").siblings().remove();
    str_data = "";
    $(data).each(function(index, result){
      str_data += '<td>' +
                    '<a href="/tempest/download/' + result.uuid + '" title="#{t('.download_xml_report')}">' + result.uuid.substring(0,7) + '</a>' +
                    '<a href="/tempest/remove_result/' + result.uuid + '" title="#{t('.remove_hint')}"><img alt="#{t('.remove_hint')}" src="/images/icons/delete.png"></a>' +
                  '</td>' +
                  '<td>' +
                    '<img alt="'+ status_msg[result.status] + '" src="' + statuses[result.status] + '">' +
                    status_msg[result.status] +
                  '</td>' +
                  '<td>' + result.started + '</td>' +
                  '<td>' + result.ended + '</td>'
    });          
    $("table > tbody").append(str_data);
  };


  $(function (){
    var statusElement = $("#status");

    var i = setInterval(function (){
        $.ajax({
            url: RESULTS_URL,
            dataType: 'json',
            contentType: 'application/json',
            success: function (json){
                console.debug(json);
                update_results(json);
            },

            error: function ()
            {
                clearInterval(i);
            }
        });
    }, 15000);
  });
