= stylesheet_link_tag "tempest-results"
:javascript
  $(document).ready(function() {
      $(".test_suite .toggle.on").toggleClass("on").each(function(){
        $('#' + $(this).attr('rel')).hide();
      });
  });
%h1.divided= t ".title"
%h2 #{t("barclamp.tempest.test_runs.node")}: #{@test_run["node"]}
%h2 #{t("barclamp.tempest.test_runs.started_at")}: #{Time.at(@test_run["started"]).to_s()}
%h2 #{t("barclamp.tempest.test_runs.ended_at")}: #{Time.at(@test_run["ended"]).to_s()}
= link_to t(".raw_xml"), "#{@test_run[:uuid]}.xml"
= render :file => results_html
