= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :database
    = instance_field :keystone
    = instance_field :rabbitmq

    = integer_field :cpu_interval
    = integer_field :meters_interval

    = boolean_field :use_mongodb

    = render "barclamp/git/pfsdeps"
