= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :database
    = instance_field :keystone
    = instance_field :rabbitmq

    = integer_field :cpu_interval
    = integer_field :disk_interval
    = integer_field :network_interval
    = integer_field :meters_interval
    = integer_field :alarm_threshold_evaluation_interval

    = boolean_field :use_mongodb
    = boolean_field :verbose

    = integer_field %w(database time_to_live)
    %span.help-block
      = t(".database.time_to_live_hint")

    = render "barclamp/git/pfsdeps"
