= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :rabbitmq
    = instance_field :keystone
    = instance_field :nova
    = instance_field :heat
    = instance_field :glance
    = instance_field :neutron
    = instance_field :cinder

    %fieldset
      = boolean_field :use_barbican_key_manager
