= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    %fieldset
      %legend
        = t(".master_notification_header")

      = boolean_field %w(master notification_enable_email)
      = string_field %w(master smtp_host)
      = integer_field %w(master smtp_port)
      = string_field %w(master smtp_user)
      = string_field %w(master smtp_password)
      = string_field %w(master smtp_from_address)
